.JobDetails {
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }

  .boxWithoutHeader3 {
    padding: 4%;
    min-height: 90dvh;

    .ConnectMessage {
      color: $secondColor;
      font-size: 17px;
    }

    .OfferResume {
      height: 25dvh;
      .OfferLogo {
        height: 65%;
        display: flex;
        justify-content: center;
        img {
          height: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }

      h1 {
        font-size: 26px;
        font-weight: $bold;
        color: black;
      }
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
        color: $textColorInput;
      }
    }

    .Line {
      width: 100%;
      height: 1px;
      background-color: $textColorInput;
    }

    .CompanyDescription {
      h3 {
        font-size: 24px;
        font-weight: $bold;
        color: black;
      }
      p {
        font-size: 16px;
      }
    }

    .OfferMissions {
      h3 {
        font-size: 24px;
        font-weight: $bold;
        color: black;
      }
      p {
        font-size: 16px;
      }
    }

    .OfferTechno {
      h3 {
        font-size: 24px;
        font-weight: $bold;
        color: black;
      }
      p {
        font-size: 16px;
      }
    }

    .OfferConditions {
      h3 {
        font-size: 24px;
        font-weight: $bold;
        color: black;
      }
      p {
        font-size: 16px;
      }
    }

    .ConnectButtons {
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 1%;
      width: 100%;

      .BlackButton {
        width: 80%;
      }

      .Heart {
        display: flex;
        align-self: flex-end;
        width: 15%;
        img {
          width: 90%;
          height: auto;
        }
      }
    }
  }

  @media screen and (min-width: 801px) {
    .boxWithoutHeader3 {
      padding-left: 20%;
      padding-right: 20%;

      .ConnectButtons {
        padding-right: 35%;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
