.connexion {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .page_title {
      padding-top: 40%;
      padding-bottom: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .inputs {
      padding-bottom: 10%;

      .notselected {
        padding-left: 40px;
      }

      .selected {
        padding-left: 40px;
      }
    }

    .btn_Connexion {
      margin-bottom: 10%;
    }

    .forget_psw {
      font-size: 16px;
      text-align: center;
      margin-bottom: 20%;
    }

    .forget_psw_text {
      color: $textColorLight;
      font-weight: lighter;
      font-family: $fontFamily;
      text-decoration: underline;
    }
    .forget_psw_text:hover {
      color: rgb(22, 22, 142);
    }

    .card_signing {
      margin: 0 auto;
      text-align: center;
    }

    .no_Count {
      font-family: $fontFamily;
      color: $textColorLight;
      margin-bottom: 10px;
    }
  }
}
