.page_title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #ffffff;
  text-align: center;
  font-family: $fontFamily;
  margin-bottom: 20%;
}

/* Dans le fichier ForgottenPassword.css */

/* Style pour le fond flouté */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style pour la pop-up modale */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

/* Style pour le logo */
.modal img {
  max-width: 100px;
  margin-bottom: 10px;
}

/* Style pour le titre */
.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Style pour la description */
.modal p {
  margin-bottom: 20px;
}

/* Style pour le bouton de fermeture */
.close-modal-button {
  background-color: transparent;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}

/* Style pour le bouton "Revenir à l'accueil" */
.modal-button {
  margin-top: 20px;
}
