.candidateCard {
  display: flex;
  align-items: center;
  padding: 3%;
  display: flex;
  height: 100px;
  border-radius: 10px;
  box-shadow: $boxshadow;
  background-color: $buttonColorLight;
  color: $buttonColorDark;
  overflow: hidden;

  .content {
    width: 100%;
    display: flex;
    padding: 2px;

    .profile_image_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 100px;

      .profile_picture {
        max-width: 100%;
        max-height: 90%;
      }
    }

    .candidate_info {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      padding-left: 10px;

      .identity {
        font-size: 18px;
        font-weight: $semiBold;
      }
      .email {
        font-size: 16px;
        word-wrap: break-word;
      }
    }

    .navigation {
      width: 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .candidateCardButtons {
        background-color: $textColorLight;
      }
    }
  }
}
