.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  flex-direction: row;
}

.card {
  width: 100%;
  max-width: 300px;
  min-width: 10px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 0px solid rgba(7, 7, 7, 0.12);
  // font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transform: translateZ(0); /* Ajout de cette ligne */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #872950a1;
  z-index: 1;
}

.card .title,
.card .text {
  position: relative;
  z-index: 2;
}

.card.background-image-1 {
  background-image: $dashboardProfil;
}

.card.background-image-2 {
  background-image: $dashboardCreationEntreprise;
}

.card.background-image-3 {
  background-image: $dashboardGestionEntreprise;
}

.card.background-image-4 {
  background-image: $dashboardGestionEmploi;
}

.card.background-image-5 {
  background-image: $dashboardGestionUtilisateur;
}

.card.background-image-6 {
  background-image: $dashboardProfilEmployeur;
}

.card.background-image-7 {
  background-image: $dashboardPresentationEntreprise;
}

.card.background-image-8 {
  background-image: $dashboardGestionOffre;
}

.card.background-image-9 {
  background-image: $dashboardCreationOffre;
}

.card.background-image-10 {
  background-image: $dashboardFavorite;
}

.card.background-image-11 {
  background-image: $dashboardRecherche;
}

.card.background-image-12 {
  background-image: $dashboardCandidature;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: $textColorLight;
  font-size: 20px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: $textColorLight;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.site-element {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}
