.InputLogo {
  input {
    display: none;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 12px;
  }
  .selected-file {
    display: flex;
    align-items: center;
  }
  .error-message {
    display: flex;
    align-items: center;
  }

  .input-wrapper {
    display: flex;
  }
  .imageHeigth {
    height: 100%;
  }
  .imageSize {
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: $buttonColorLight;
    justify-content: center;
    flex-direction: column;
  }
  .upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .upload-file {
    display: flex;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
  }
}
