.inputText {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 5%;
  color: white;
  font-family: $fontFamily;

  input {
    border: none;
    outline: none;
    background-color: $buttonColorLight;
    margin-top: 3%;
    color: $textColorDark;
    width: 100%;
    height: 48px;
    border-radius: 12px;
    font-size: 16px;
    font-family: $fontFamily;
    padding-left: 12px;
  }

  .eyeButtonSystem {
    display: flex;
    align-items: center;
    height: 0px;
    transform: translateY(-24px);
    position: relative;
  }

  .eyeButton {
    position: absolute;
    right: 0;
  }

  .eyeIcon {
    height: 25px;
    width: 35px;
    display: flex;
  }

  .profil {
    height: 25px;
    width: 35px;
    margin-top: -37px;
    padding-left: 7px;
  }
  .lock {
    height: 25px;
    width: 35px;
    margin-top: -37px;
    padding-left: 7px;
  }
}
