.InputCv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 40px;
    margin-right: 1%;
  }
  label {
    font-family: $fontFamily;
    color: $textColorLight;
    font-size: 20px;
    margin-top: 5%;
  }
  input {
    display: none;
    border: none;
    outline: none;
    background-color: $buttonColorLight;
    margin-top: 3%;
    color: $textColorInput;
    width: 100%;
    height: 48px;
    border-radius: 12px;
    font-size: 20px;
    font-family: $fontFamily;
    padding-left: 12px;
  }
  .selected-file {
    display: flex;
    align-items: center;
    color: $textColorDark;
  }
  .error-message {
    display: flex;
    align-items: center;
  }
  .selected {
    color: $textColorDark;
  }

  .notselected {
    color: $textColorInput;
  }

  .input-wrapper {
    display: flex;
    img {
      background-position: left;
      display: flex;
    }
  }
  .upload-icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: none;
    outline: none;
    background-color: $buttonColorLight;
    margin-top: 3%;
    color: $textColorInput;
    width: 100%;
    height: 48px;
    border-radius: 12px;
    font-size: 20px;
    font-family: $fontFamily;
    padding-left: 12px;
  }
}
