.InputImage {
  display: flex;
  justify-content: center;
  flex-direction: column;

  label {
    font-family: $fontFamily;
    color: $textColorLight;
    font-size: 20px;
    margin-top: 5%;
  }
  input {
    border: none;
    outline: none;
    background-color: $buttonColorLight;
    margin-top: 3%;
    color: $textColorInput;
    width: 100%;
    height: 48px;
    border-radius: 12px;
    font-size: 20px;
    font-family: $fontFamily;
    padding-left: 12px;

    #fileInput {
      display: flex;
    }
  }

  .selected {
    color: $textColorDark;
  }

  .notselected {
    color: $textColorInput;
  }
}
