.WhiteButton {
  display: flex;
  justify-content: center;

  button {
    background-color: $buttonColorLight;
    color: $textColorDark;
    width: 100%;
    height: 48px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: $medium;
    font-family: $fontFamily;
    text-align: center;
  }
}
