.BlackButton {
  display: flex;
  justify-content: center;
  text-align: center;

  button {
    background-color: $buttonColorDark;
    color: $textColorLight;
    width: 92%;
    height: 48px;
    border-radius: 12px;
    font-size: 16px;
    font-family: $fontFamily;
  }
}
