.InputList {
  display: flex;
  justify-content: center;
  flex-direction: column;

  label {
    font-family: $fontFamily;
    color: $textColorLight;
    padding-top: 5%;
  }

  select {
    border: none;
    outline: none;
    background-color: $buttonColorLight;
    margin-top: 5%;
    width: 100%;
    height: 48px;
    border-color: none;
    border-radius: 12px;
    font-size: 16px;
    font-family: $fontFamily;
    padding-left: 12px;
  }

  .selected {
    color: $textColorDark;
  }

  .notselected {
    color: $textColorInput;
  }
}
