.HomePage {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    margin-top: 10dvh;
    min-height: 80dvh;
  }

  .descriptionText {
    color: $textColorLight;
    padding: 4% 0 4% 0;
  }

  .handshakeContainer {
    display: flex;
    justify-content: center;
    margin-top: 8%;
  }

  .handshake {
    border-radius: 12px;
    width: 100%;
  }

  .trust {
    margin-top: 8%;
    color: $textColorLight;
    display: flex;
    justify-content: center;
    font-weight: 500;
  }

  .trustingCompanies {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4% auto;
  }

  .logo {
    padding: 0 4px;
    overflow: hidden;
    max-width: auto;
    height: auto;
  }

  @media screen and (min-width: 801px) {
    .boxWithoutHeader {
      font-size: 20px;
      padding-left: 17%;
      padding-right: 17%;

      .descriptionText {
        padding: 2% 0 2% 0;
      }

      .handshakeContainer {
        margin-top: 2%;
      }

      .trust {
        margin-top: 2%;
      }

      .trustingCompanies {
        margin: 2% auto;
      }

      .BlackButton {
        padding-top: 2%;
      }
    }
  }
}
