.jobapplications {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .titleMesCandidature {
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .applicationDetails {
      font-size: 20px;
      font-weight: $regular;
      color: $textColorLight;

      .recu {
        margin-top: 5%;
      }

      .enCours {
        margin-top: 5%;
      }

      .entretienPlanifie {
        margin-top: 5%;
      }

      .accepte {
        margin-top: 5%;
      }

      .refuse {
        margin-top: 5%;
      }
    }
    .jobapplicationsEnd {
      padding-top: 10%;
    }
    a {
      width: 100%;
    }
  }
}
