.CandidateProfile_copy {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .candidateProfileTitle_copy {
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .validationSuppression {
      padding-top: 10%;
    }
  }
}
