.CandidateProfile {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;
    height: auto;
    color: white;

    h3 {
      display: flex;
      justify-content: center;
    }

    .validationSuppression {
      margin-top: 5%;
    }
  }
}
