.registration {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .registrationTitle {
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .registrationDetails {
      .inputText {
        font-size: 20px;
        font-weight: $regular;

        .boutton {
          color: red;
        }
      }
    }
  }

  @media screen and (min-width: 801px) {
    .boxWithoutHeader {
      padding-left: 20%;
      padding-right: 20%;

      .BlackButton {
        padding-top: 10%;
      }
    }
  }
}
