.application {
  height: 100dvh;
  width: 100vw;
  background-color: $primaryColor;

  .applicationTitle {
    height: 15%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    h1 {
      color: $textColorLight;
      font-size: 36px;
      font-weight: $regular;
    }
  }

  .application_details {
    display: flex;
    flex-direction: column;
    font-family: $fontFamily;
    color: $textColorLight;
    font-size: 15px;
    width: 80%;
    margin: 25px auto;
    text-align: center;
  }

  .Card_application {
    width: 80%;
    min-height: 100px;
    background-color: rgb(200, 193, 193);
    border-radius: 12px;
    display: flex;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;

    .card_info {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .user_pic {
      width: 15%;
      border-radius: 50%;
      height: 60px;
      max-height: 100%;
      width: 70px;
      max-width: 100%;
      padding: 2px;
    }

    .name_email {
      width: 70%;
      padding: 2px;
    }

    .loupe {
      width: 15%;
      height: 35px;
      width: 35px;
      padding: 2px;
    }
  }
}
