.application {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .applicationTitle {
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .application_details {
      padding-bottom: 10%;
      display: flex;
      flex-direction: column;
      font-family: $fontFamily;
      color: $textColorLight;
      font-size: 15px;
      text-align: center;
    }

    .card_application {
      min-height: 100px;
      background-color: $buttonColorLight;
      border-radius: 12px;
      display: flex;
      padding: 15px;
      flex-direction: column;

      .card_info {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .user_pic {
        border-radius: 50%;
        height: 60px;
        max-width: 100%;
      }

      .loupe {
        height: 50%;
        width: auto;
      }

      .status {
        .select {
          background-color: #d9d9d9;
        }
      }
    }
    .applicationEnd {
      padding-top: 10%;
    }
  }

  @media screen and (min-width: 650px) and (max-width: 800px) {
    .boxWithoutHeader {
      padding: 8%;

      .applicationEnd {
        .BlackButton {
          padding-top: 0;
        }
      }
    }
  }

  @media screen and (min-width: 801px) {
    .boxWithoutHeader {
      padding-left: 20%;
      padding-right: 20%;

      .applicationEnd {
        .BlackButton {
          padding-top: 0;
        }
      }
    }
  }
}
