.CompanyDashboard {
  .vagueCompany {
    background-image: url("./../../assets/images/Dashboard/vague.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 105px;
  }

  .container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .boxWithoutHeader {
    padding: 4%;
    background-color: white;
    height: auto;
  }

  .boxInside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .boxInside > * {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }

  @media (max-width: 480px) {
    .boxInside > * {
      flex-basis: 100%;
    }
  }

  .titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-top: 25px;
  }

  .pp-import {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
}
