.CompanyDashboard {
  .vagueCompany {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 105px;
  }

  .container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .boxWithoutHeader {
    padding: 4%;
    background-color: white;
    height: auto;
  }

  .boxInside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .boxInside > * {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }

  @media (max-width: 480px) {
    .boxInside > * {
      flex-basis: 100%;
    }
  }

  .titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: $textColorLight;
    padding-top: 25px;
  }
}
