.CompanyFirstLogin {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .welcomeText {
      margin-top: 20vh;
      margin-bottom: 20vh;
      text-align: center;
    }
  }
}
