@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

$primaryColor: #a42056;
$secondColor: #872950;
$textColorDark: #212529;
$textColorMedium: #404040;
$textColorInput: #737373;
$textColorLight: #ffffff;
$buttonColorDark: #212529;
$buttonColorRed: #ff0040;
$buttonColorMedium: #404040;
$buttonColorLight: #ffffff;
$fontFamily: "Instrument Sans", sans-serif;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$boxshadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $fontFamily;
  font-weight: $regular;
}

@import "./components/Elements/BlackButton.scss";
@import "./components/Elements/InputImage";
@import "./components/Elements/RedButton.scss";
@import "./components/Elements/CandidateCard.scss";
@import "./components/Elements/DashboardCard.scss";
@import "./components/Elements/InputList.scss";
@import "./components/Elements/InputText.scss";
@import "./components/Elements/InputResume.scss";
@import "./components/Elements/Textearea.scss";

@import "./components/Elements/JobCard.scss";
@import "./components/Elements/ProfilePicture.scss";
@import "./components/Elements/WhiteButton.scss";
@import "./components/Header/HeaderBasic.scss";
@import "./components/Header/HeaderWave.scss";
@import "./components/NavBar/NavBar.scss";
@import "./components/Header/BurgerMenu.scss";
@import "./pages/Admin/AdminDashboard.scss";
@import "./pages/Admin/AdminProfile.scss";
@import "./pages/Admin/CandidateList.scss";
@import "./pages/Admin/CompanyCreation.scss";
@import "./pages/Admin/CompanyList.scss";
@import "./pages/Candidate/CandidateDashboard.scss";
@import "./pages/Candidate/CandidateJobApplications.scss";
@import "./pages/Candidate/CandidateProfile.scss";
@import "./pages/Candidate/CandidatePublicProfile.scss";
@import "./pages/Candidate/FavoriteOffers.scss";
@import "./pages/Candidate/Registration.scss";
@import "./pages/Company/CompanyDashboard.scss";
@import "./pages/Company/CompanyFirstLogin.scss";
@import "./pages/Company/CompanyJobApplications.scss";
@import "./pages/Company/CompanyPresentation.scss";
@import "./pages/Company/CompanyProfile.scss";
@import "./pages/Company/OfferCreation.scss";
@import "./pages/HomePage/HomePage.scss";
@import "./pages/JobSearch/JobSearch.scss";
@import "./pages/JobSearch/JobDetails.scss";
@import "./pages/JobSearch/Results.scss";
@import "./pages/Login/ForgottenPassword.scss";
@import "./pages/Login/Login.scss";
