@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

$primaryColor: #a42056;
$secondColor: #872950;
$textColorDark: #212529;
$textColorMedium: #404040;
$textColorLight: #ffffff;
$buttonColorDark: #212529;
$buttonColorMedium: #404040;
$buttonColorLight: #ffffff;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import "./components/Elements/BlackButton.scss";
@import "./components/Elements/CandidateCard.scss";
@import "./components/Elements/DashboardCard.scss";
@import "./components/Elements/InputList.scss";
@import "./components/Elements/InputText.scss";
@import "./components/Elements/JobCard.scss";
@import "./components/Elements/ProfilePicture.scss";
@import "./components/Elements/SortBy.scss";
@import "./components/Elements/WhiteButton.scss";
@import "./components/Elements/InputList.scss";
@import "./components/Elements/InputList.scss";
@import "./components/Header/HeaderBasic.scss";
@import "./components/Header/HeaderWave.scss";
@import "./pages/Admin/AdminDashboard.scss";
@import "./pages/Admin/AdminProfile.scss";
@import "./pages/Admin/CandidateList.scss";
@import "./pages/Admin/CompanyCreation.scss";
@import "./pages/Admin/CompanyList.scss";
@import "./pages/Candidate/CandidateDashboard.scss";
@import "./pages/Candidate/CandidateJobApplications.scss";
@import "./pages/Candidate/CandidateProfile.scss";
@import "./pages/Candidate/CandidatePublicProfile.scss";
@import "./pages/Candidate/FavoriteOffers.scss";
@import "./pages/Candidate/Registration.scss";
@import "./pages/Company/CompanyDashboard.scss";
@import "./pages/Company/CompanyJobApplications.scss";
@import "./pages/Company/CompanyPresentation.scss";
@import "./pages/Company/CompanyProfile.scss";
@import "./pages/Company/OfferCreation.scss";
@import "./pages/HomePage/HomePage.scss";
@import "./pages/JobSearch/JobSearch.scss";
@import "./pages/JobSearch/SearchFilters.scss";
@import "./pages/Login/ForgottenPassword.scss";
@import "./pages/Login/Login.scss";
