@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

$primaryColor: #a42056;
$secondColor: #872950;
$textColorDark: #212529;
$textColorMedium: #404040;
$textColorInput: #737373;
$textColorLight: #ffffff;
$buttonColorDark: #212529;
$buttonColorRed: #ff0040;
$buttonColorMedium: #404040;
$buttonColorLight: #ffffff;
$fontFamily: "Instrument Sans", sans-serif;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$boxshadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$regular: 400;
$medium: 500;
$semiBold: 600;

$dashboardProfil: url("./assets/images/Dashboard/profil.png");
$dashboardCreationEntreprise: url("./assets/images/Dashboard/cree-entreprise.png");
$dashboardGestionEntreprise: url("./assets/images/Dashboard/gestion-entreprise.png");
$dashboardGestionEmploi: url("./assets/images/Dashboard/gestion-emplois.png");
$dashboardGestionUtilisateur: url("./assets/images/Dashboard/gestion-utilisateurs.png");
$dashboardProfilEmployeur: url("./assets/images/Dashboard/mon-profil-employeur.png");
$dashboardPresentationEntreprise: url("./assets/images/Dashboard/presentation-entreprise.png");
$dashboardGestionOffre: url("./assets/images/Dashboard/gestion-offres-candidatures.png");
$dashboardCreationOffre: url("./assets/images/Dashboard/creer-offre.png");
$dashboardFavorite: url("./assets/images/Dashboard/favorite.png");
$dashboardRecherche: url("./assets/images/Dashboard/ma-recherche.png");
$dashboardCandidature: url("./assets/images/Dashboard/mes-candidatures.png");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $fontFamily;
  font-weight: $regular;
}

@import "./components/Elements/BlackButton.scss";
@import "./components/Elements/RedButton.scss";
@import "./components/Elements/CandidateCard.scss";
@import "./components/Elements/CompanyCard.scss";
@import "./components/Elements/DashboardCard.scss";
@import "./components/Elements/InputList.scss";
@import "./components/Elements/InputText.scss";
@import "./components/Elements/LargeTextInput.scss";
@import "./components/Elements/InputImage.scss";
@import "./components/Elements/InputLogo.scss";
@import "./components/Elements/LanguageList.scss";
@import "./components/Elements/Textearea.scss";
@import "./components/Elements/JobCard.scss";
@import "./components/Elements/ProfilePicture.scss";
@import "./components/Elements/WhiteButton.scss";
@import "./components/Header/HeaderBasic.scss";
@import "./components/Header/HeaderWave.scss";
@import "./components/Header/HeaderWaveInverted.scss";
@import "./components/NavBar/NavBar.scss";
@import "./components/Header/BurgerMenuBasic.scss";
@import "./components/Header/BurgerMenuWave.scss";
// @import "./components/Header/BurgerMenuTest.scss";
@import "./pages/Admin/AdminDashboard.scss";
@import "./pages/Admin/AdminProfile.scss";
@import "./pages/Admin/CandidateList.scss";
@import "./pages/Admin/CompanyCreation.scss";
@import "./pages/Admin/CompanyList.scss";
@import "./pages/Admin/Confirmation.scss";
@import "./pages/Admin/OffersList.scss";
@import "./pages/Admin/AdminDashboard.scss";
@import "./pages/Candidate/CandidateDashboard.scss";
@import "./pages/Candidate/CandidateJobApplications.scss";
@import "./pages/Candidate/CandidateProfile.scss";
@import "./pages/Candidate/FavoriteOffers.scss";
@import "./pages/Candidate/Registration.scss";
@import "./pages/Company/CompanyDashboard.scss";
@import "./pages/Company/CompanyFirstLogin.scss";
@import "./pages/Company/CompanyPresentation.scss";
@import "./pages/Company/CompanyProfile.scss";
@import "./pages/Company/Application.scss";
@import "./pages/Company/OfferCreation.scss";
@import "./pages/Company/ProfileCandidate.scss";
@import "./pages/Company/CompanyDashboard.scss";
@import "./pages/Company/OffersListCompany.scss";
@import "./pages/HomePage/HomePage.scss";
@import "./pages/JobSearch/JobSearch.scss";
@import "./pages/JobSearch/JobDetails.scss";
@import "./pages/JobSearch/Results.scss";
@import "./pages/JobSearch/ApplicationConfirmation.scss";
@import "./pages/Login/ForgottenPassword.scss";
@import "./pages/Login/Login.scss";
@import "./pages/Login/Logout.scss";
@import "./pages/Contact/Contact.scss";
@import "./pages/LegalInformations/LegalInformations.scss";
@import "./components/Elements/InputCv";

///import pour les copy
@import "./pages/Company/CompanyProfileCopy";
@import "./pages/Candidate/RegistrationCopy";
@import "./pages/Candidate/CandidateProfileCopy";
@import "./pages/Company/OfferCreationCopy";
@import "./pages/Admin/AdminProfileCopy";
@import "./pages/Admin/CompanyCreationCopy";

@import "./components/Elements/InputListe";
@import "./components/Elements/InputTexte";
