.BurgerMenuBasic {
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.8rem + 1.7dvw);
  z-index: 13;

  .BurgerContainer {
    padding-left: 2dvw;
    background-color: $textColorLight;
    .IconBurger {
      width: 5dvh;
    }
  }

  ul {
    position: fixed;
    width: 100%;
    height: 80dvh;
    background-color: $primaryColor;
    z-index: 1;
  }
  .menuClosed {
    left: -100%;
  }
  .menuOpened {
    top: 10dvh;
    padding-top: 10dvh;
    height: 90dvh;
  }
  .menuItem {
    width: fit-content;
    text-decoration: none;
    background-color: $primaryColor;
    padding: 4%;
    font-weight: 500;
    font-family: $fontFamily;
    color: $textColorLight;
  }

  @media screen and (min-width: 801px) {
    font-size: 20px;
    .menuItem {
      padding: 2%;
    }
  }
}
