.BurgerMenu {
  .BurgerContainer {
    display: flex;
  }

  .IconBurger {
    height: 4dvh;
    background-color: $textColorLight;
  }

  .BurgerMenuOpened {
    position: fixed;
    top: 0dvh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: $primaryColor;

    .HoverHeader {
      display: flex;
      flex-direction: column;
    }

    .TopHoverBar {
      display: flex;
      justify-content: space-between;
      background-color: $buttonColorLight;
      height: 10dvh;
      padding: 0 2% 0 2%;
      align-items: center;
    }

    .HoverHeader .Wave {
      flex: 1;
      position: absolute;
      height: 10dvh;
      margin-top: 10dvh;
      width: 100%;
      background-color: $primaryColor;
    }

    .menuList {
      margin-top: 20dvh;
      padding-left: 4%;
      height: 100dvh;
    }

    .menuItem {
      // width: fit-content;
      text-decoration: none;
      background-color: $primaryColor;
      padding: 4%;
      // font-weight: 500;
      // font-family: $fontFamily;
      color: $textColorLight;
    }
  }
}
