.HeaderWave {
  display: flex;
  flex-direction: column;

  .TopHeader {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    padding: 0 2% 0 2%;

    .Logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 16vh;
      z-index: 3;
      background-color: white;
    }
  }

  .Wave {
    flex: 1;
    background-color: $primaryColor;
  }
}
