.HeaderBasic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10dvh;
  padding: 0 2% 0 2%;

  .Logo {
    position: absolute;
    top: 1dvh;
    left: 50%;
    transform: translateX(-50%);
    height: 8vh;
    background-color: $buttonColorLight;
  }
}
