.HeaderWaveInverted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .TopHeader {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    padding: 0 2% 0 2%;

    .Logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 10vh;
      z-index: 3;
      // background-color: $primaryColor;
    }
  }

  .pp-import {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .InputImage {
      z-index: 12;
      height: auto;
    }

    .titleHeader {
      // width: 100px;
      z-index: 12;
      font-weight: $semiBold;
      font-size: 36px;
      text-align: center;
    }
  }

  .Wave {
    flex: 1;
    background-color: $buttonColorLight;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 10vh;
  }
}

.inputImage {
}
