.HeaderBasic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0 2%;
  height: 10dvh;

  .BurgerMenuContainer {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .Logo {
    height: 8vh;
    background-color: $buttonColorLight;
  }
}
