.HeaderWave {
  width: 100%;

  .TopHeader {
    display: flex;
    justify-content: space-between;
    height: 10dvh;
 
  

    .BurgerMenu {
      height: 100%;
      padding: 20px;

      
    }
    .Logo {
      height: 10%;
   position: fixed;
   top: 0;
   left: 300px;
      margin-left: 500px;
     
    }
    .ProfilePicture {
      height: 10%;
      padding: 20px;
      position: fixed;
      right: 0px;
    }
  }
  .Wave {
    width: 100%;
    background-color: #a42056;
    height: 100px;
  }
}
