.HeaderBasic {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 10dvh;

  .BurgerMenu {
    height: 100%;
    padding: 20px;
  }

  .Logo {
    height: 100%;
  }

  .ProfilePicture {
    height: 100%;
    padding: 20px;
  }
}
