.AdminProfile {
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .AdminProfileTitle {
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .AdminProfileInformations {
      .InputText {
        font-size: 20px;
        font-weight: $regular;
      }

      .InputList {
        display: flex;
        flex-direction: column;
      }
    }

    .AdminProfileEnd {
      padding-top: 10%;
    }
    a {
      width: 100%;
    }
  }
}
