.CompanyCreation {
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .CompanyCreationTitle {
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .CompanyCreationInformations {
      .InputText {
        font-size: 20px;
        font-weight: $regular;
      }

      .InputImage {
        .custom-label {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 5%;
        }

        input {
          width: 120px;
          max-width: 50%;
          height: 120px;
        }
      }
    }

    .CompanyCreationEnd {
      padding-top: 10%;
    }
    a {
      width: 100%;
    }
  }
}
