.OffersList {
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    height: 90dvh;
  }

  .btnblack {
    margin-top: 12px;
  }

  .offer {
    margin-bottom: 120px;
  }

  .offer {
    width: 70%;

    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}
