.legalInformations {
  .boxWithoutHeader {
    padding: 4%;
    background-color: $primaryColor;
    min-height: 90dvh;

    .legalInformationsTitle {
      padding-top: 40%;
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        color: $textColorLight;
        font-size: 36px;
        font-weight: $semiBold;
      }
    }

    .legalInformationsdetails {
      color: $textColorLight;
      text-align: center;
    }

    .legalInformationsEnd {
      padding-top: 10%;
    }
    a {
      width: 100%;
    }
  }
}
